.movie-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .movie-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .movie-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .movie-details {
    flex: 2;
  }
  
  .movie-details h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .movie-details p {
    margin: 5px 0;
    font-size: 16px;
  }
  .favorite-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
   position:relative;
   right: 10;
 
  }
  
  .favorite-button:hover {
    background-color: #0056b3;
  }
  .Unfavorite-button {
    background-color: #f44336; /* Red background color */
    color: #ffffff; /* White text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px; /* Font size of the text */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to a hand on hover */
  }
  
  /* Styles when hovering over the button */
  .Unfavorite-button:hover {
    background-color: #d32f2f; /* Darker shade of red */
  }
  